@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: #3498db;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: orange;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}

.card-radius {
  border-radius: 15px!important;
}